{% extends "layout_admin.html" %}
{% block body %}


<div class="container">
        <div class=" text-center mt-5 ">

            <h1 >New Job Entry</h1>
                
            
        </div>

    
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
       
            <div class = "container">
                             <form id="contact-form" role="form">

            

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Job_Title">Job Title *</label>
                            <input id="Job_Title" type="text" name="Job_Title" class="form-control" placeholder="Enter Job Name *" required="required" data-error="Required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Company_Name">Company Name *</label>
                            <input id="Company_Name" type="text" name="Company_Name" class="form-control" placeholder="Enter Company Name *" required="required" data-error="Required.">
                                                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Requirement">Requirement *</label>
                            <input id="Requirement" type="text" name="Requirement" class="form-control" placeholder="Enter Requirements *" required="required" data-error="Required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Location">Location *</label>
                            <input id="Location" type="text" name="Location" class="form-control" placeholder="Enter Location *" required="required" data-error="Required.">
                                                            </div>
                    </div>
                </div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Deadline">Deadline *</label>
            <input id="Deadline" type="text" name="Deadline" class="form-control" placeholder="Enter Deadline" required="required" rows="1" data-error="Required"></textarea>
        </div>
    </div>
</div>


                    <div class="col-md-12">                        
                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Done" >
<!--                                         <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
                     -->
                </div>
          
                </div>
        </div>
         </form>
        </div>
            </div>


    </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>
{% endblock %}
